<!DOCTYPE html>
<html lang="ru" class="h-100" data-bs-theme="auto">
<head><script src="{{ url_for('static', path='js/color-modes.js') }}"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Yuriy Grinev" />

    <title>{% block title %}HTMX example{% endblock %}</title>

    <link href="{{ url_for('static', path='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet" />
    {% block additiona_css %}{% endblock %}
</head>

<body class="d-flex flex-column h-100">
    {% include "components/svg.html" %}
    {% include "components/themes.html" %}

    {% block content %}{% endblock %}

    {% include "components/footer.html" %}


    <script src="{{ url_for('static', path='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/htmx.min.js') }}"></script>
    
    {% block additional_js %}{% endblock %}

</body>
</html>
