{% extends "shared/_layout.html" %}

{% block title %}Example HTMX{% endblock %}

{% block additiona_css %}
<style>
  #quote.htmx-added {
    opacity: 0;
  }
  #quote {
    opacity: 1;
    transition: opacity 1s ease-out;
  }
</style>
{% endblock %}
{% block content %}
<main class="flex-shrink-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="position-relative">
            <div class="position-absolute top-0 start-50 translate-middle-x">
              {% include 'examples/quotes/index.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
</main>

{% endblock %}